<web-app>
<context-param>
<param-name>oracletab</param-name>
<param-value>yes</param-value>
</context-param>
<context-param>
<param-name>driver</param-name>
<param-value>oracle.jdbc.driver.OracleDriver</param-value>
</context-param>
<context-param>
<param-name>url</param-name>
<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
</context-param>

<context-param>
<param-name>user</param-name>
<param-value>system</param-value>
</context-param>
<context-param>
<param-name>pass</param-name>
<param-value>mca6</param-value>
</context-param>
<servlet>
<servlet-name>ApplicationInitializer</servlet-name>
<servlet-class>ApplicationInitializer</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>ApplicationInitializer</servlet-name>
<url-pattern>/table</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>NetbankServlet</servlet-name>
<servlet-class>NetbankServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>NetbankServlet</servlet-name>
<url-pattern>/bank</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>CarServlet</servlet-name>
<servlet-class>CarServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CarServlet</servlet-name>
<url-pattern>/cars</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>CartServlet</servlet-name>
<servlet-class>CartServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CartServlet</servlet-name>
<url-pattern>/cart</url-pattern>
</servlet-mapping>
<listener>
<listener-class>MyListener</listener-class>
</listener>
<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RegisteredServlet</servlet-name>
<servlet-class>RegisteredServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegisteredServlet</servlet-name>
<url-pattern>/registered</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>WatchesServlet</servlet-name>
<servlet-class>WatchesServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>WatchesServlet</servlet-name>
<url-pattern>/watches</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>UserExistServlet</servlet-name>
<servlet-class>UserExistServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserExistServlet</servlet-name>
<url-pattern>/userexist</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RegisterServlet</servlet-name>
<servlet-class>RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegisterServlet</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>MobileServlet</servlet-name>
<servlet-class>MobileServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MobileServlet</servlet-name>
<url-pattern>/mobiles</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>LaptopServlet</servlet-name>
<servlet-class>LaptopServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LaptopServlet</servlet-name>
<url-pattern>/laptops</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>MenServlet</servlet-name>
<servlet-class>MenServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MenServlet</servlet-name>
<url-pattern>/men</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>WomenServlet</servlet-name>
<servlet-class>WomenServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>WomenServlet</servlet-name>
<url-pattern>/women</url-pattern>
</servlet-mapping>
<filter>
<filter-name>LoginFilter</filter-name>
<filter-class>LoginFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>LoginFilter</filter-name>
<url-pattern>/login</url-pattern>
</filter-mapping>
<filter>
<filter-name>RegisterFilter</filter-name>
<filter-class>RegisterFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>RegisterFilter</filter-name>
<url-pattern>/register</url-pattern>
</filter-mapping>
</web-app>